In [ ]:
import pandas as pd

# Working with Series

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [1]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

# Working With Data Frame

In [ ]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   30

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
import pandas as pd
data=pd.read_csv('/content/datasets_air_quality_Nov2017.csv')
data.head(10)

                    Station Air Quality  ...        Generated   Date Time
0         Barcelona - Sants        Good  ...  01/11/2018 0:00  1541027104
1      Barcelona - Eixample    Moderate  ...  01/11/2018 0:00  1541027104
2        Barcelona - Gràcia        Good  ...  01/11/2018 0:00  1541027104
3    Barcelona - Ciutadella        Good  ...  01/11/2018 0:00  1541027104
4   Barcelona - Vall Hebron        Good  ...  01/11/2018 0:00  1541027104
5   Barcelona - Palau Reial        Good  ...  01/11/2018 0:00  1541027104
6      Barcelona - Poblenou        Good  ...  01/11/2018 0:00  1541027104
7  Barcelona - Observ Fabra        Good  ...  01/11/2018 0:00  1541027104
8         Barcelona - Sants        Good  ...  01/11/2018 1:00  1541030725
9      Barcelona - Eixample        Good  ...  01/11/2018 1:00  1541030725

[10 rows x 15 columns]

In [ ]:
data.head()

                   Station Air Quality  ...        Generated   Date Time
0        Barcelona - Sants        Good  ...  01/11/2018 0:00  1541027104
1     Barcelona - Eixample    Moderate  ...  01/11/2018 0:00  1541027104
2       Barcelona - Gràcia        Good  ...  01/11/2018 0:00  1541027104
3   Barcelona - Ciutadella        Good  ...  01/11/2018 0:00  1541027104
4  Barcelona - Vall Hebron        Good  ...  01/11/2018 0:00  1541027104

[5 rows x 15 columns]

In [ ]:
data.shape

(5744, 15)